@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Poppins:wght@400;500;600;700;800&family=Montserrat:wght@400;500;600;700;800&family=Lato:wght@300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --Poppins:"Poppins",cursive;
    --Montserrat:"Montserrat",cursive;
    --Bowlby:"Bowlby One",cursive;
    --Lato:"Lato",cursive;
    --bggradient:linear-gradient(
        to bottom, #1a3e58, #216622);
}
body{
    overflow-x: hidden;
}

/*#preloader*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: white;
    
  }
.cssload-dots {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	outline: 1px solid red;
	filter: url(#goo);
		-o-filter: url(#goo);
		-ms-filter: url(#goo);
		-webkit-filter: url(#goo);
		-moz-filter: url(#goo);
}

.cssload-dot {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.cssload-dot:before {
	content: "";
	width: 34px;
	height: 34px;
	border-radius: 49px;
	background: rgb(251,211,1);
	position: absolute;
	left: 50%;
	transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
	margin-left: -17.5px;
	margin-top: -17.5px;
}



.cssload-dot:nth-child(5):before {
	z-index: 100;
	width: 44.5px;
	height: 44.5px;
	margin-left: -21.75px;
	margin-top: -21.75px;
	animation: cssload-dot-colors 4.6s ease infinite;
		-o-animation: cssload-dot-colors 4.6s ease infinite;
		-ms-animation: cssload-dot-colors 4.6s ease infinite;
		-webkit-animation: cssload-dot-colors 4.6s ease infinite;
		-moz-animation: cssload-dot-colors 4.6s ease infinite;
}


.cssload-dot:nth-child(1) {
	animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-o-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-ms-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-webkit-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
		-moz-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
}
.cssload-dot:nth-child(1):before {
	background-color: rgb(255,50,112);
	animation: cssload-dot-move 4.6s 0s ease infinite;
		-o-animation: cssload-dot-move 4.6s 0s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 0s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 0s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
	animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-o-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-ms-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-webkit-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
		-moz-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
}
.cssload-dot:nth-child(2):before {
	background-color: rgb(32,139,241);
	animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-o-animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 1.15s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 1.15s ease infinite;
}

.cssload-dot:nth-child(3) {
	animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-o-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-ms-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-webkit-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
		-moz-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
}
.cssload-dot:nth-child(3):before {
	background-color: rgb(175,225,2);
	animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-o-animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 2.3s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 2.3s ease infinite;
}

.cssload-dot:nth-child(4) {
	animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-o-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-ms-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-webkit-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
		-moz-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
}
.cssload-dot:nth-child(4):before {
	background-color: rgb(251,211,1);
	animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-o-animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-ms-animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-webkit-animation: cssload-dot-move 4.6s 3.45s ease infinite;
		-moz-animation: cssload-dot-move 4.6s 3.45s ease infinite;
}

@keyframes cssload-dot-move {
	0% {
		transform: translateY(0);
	}
	18%, 22% {
		transform: translateY(-68px);
	}
	40%, 100% {
		transform: translateY(0);
	}
}

@-o-keyframes cssload-dot-move {
	0% {
		-o-transform: translateY(0);
	}
	18%, 22% {
		-o-transform: translateY(-68px);
	}
	40%, 100% {
		-o-transform: translateY(0);
	}
}

@-ms-keyframes cssload-dot-move {
	0% {
		-ms-transform: translateY(0);
	}
	18%, 22% {
		-ms-transform: translateY(-68px);
	}
	40%, 100% {
		-ms-transform: translateY(0);
	}
}

@-webkit-keyframes cssload-dot-move {
	0% {
		-webkit-transform: translateY(0);
	}
	18%, 22% {
		-webkit-transform: translateY(-68px);
	}
	40%, 100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes cssload-dot-move {
	0% {
		-moz-transform: translateY(0);
	}
	18%, 22% {
		-moz-transform: translateY(-68px);
	}
	40%, 100% {
		-moz-transform: translateY(0);
	}
}

@keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-o-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-ms-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-webkit-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-moz-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@keyframes cssload-dot-rotate-1 {
	0% {
		transform: rotate(-105deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@-o-keyframes cssload-dot-rotate-1 {
	0% {
		-o-transform: rotate(-105deg);
	}
	100% {
		-o-transform: rotate(270deg);
	}
}

@-ms-keyframes cssload-dot-rotate-1 {
	0% {
		-ms-transform: rotate(-105deg);
	}
	100% {
		-ms-transform: rotate(270deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-1 {
	0% {
		-webkit-transform: rotate(-105deg);
	}
	100% {
		-webkit-transform: rotate(270deg);
	}
}

@-moz-keyframes cssload-dot-rotate-1 {
	0% {
		-moz-transform: rotate(-105deg);
	}
	100% {
		-moz-transform: rotate(270deg);
	}
}

@keyframes cssload-dot-rotate-2 {
	0% {
		transform: rotate(165deg);
	}
	100% {
		transform: rotate(540deg);
	}
}

@-o-keyframes cssload-dot-rotate-2 {
	0% {
		-o-transform: rotate(165deg);
	}
	100% {
		-o-transform: rotate(540deg);
	}
}

@-ms-keyframes cssload-dot-rotate-2 {
	0% {
		-ms-transform: rotate(165deg);
	}
	100% {
		-ms-transform: rotate(540deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-2 {
	0% {
		-webkit-transform: rotate(165deg);
	}
	100% {
		-webkit-transform: rotate(540deg);
	}
}

@-moz-keyframes cssload-dot-rotate-2 {
	0% {
		-moz-transform: rotate(165deg);
	}
	100% {
		-moz-transform: rotate(540deg);
	}
}

@keyframes cssload-dot-rotate-3 {
	0% {
		transform: rotate(435deg);
	}
	100% {
		transform: rotate(810deg);
	}
}

@-o-keyframes cssload-dot-rotate-3 {
	0% {
		-o-transform: rotate(435deg);
	}
	100% {
		-o-transform: rotate(810deg);
	}
}

@-ms-keyframes cssload-dot-rotate-3 {
	0% {
		-ms-transform: rotate(435deg);
	}
	100% {
		-ms-transform: rotate(810deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-3 {
	0% {
		-webkit-transform: rotate(435deg);
	}
	100% {
		-webkit-transform: rotate(810deg);
	}
}

@-moz-keyframes cssload-dot-rotate-3 {
	0% {
		-moz-transform: rotate(435deg);
	}
	100% {
		-moz-transform: rotate(810deg);
	}
}

@keyframes cssload-dot-rotate-4 {
	0% {
		transform: rotate(705deg);
	}
	100% {
		transform: rotate(1080deg);
	}
}

@-o-keyframes cssload-dot-rotate-4 {
	0% {
		-o-transform: rotate(705deg);
	}
	100% {
		-o-transform: rotate(1080deg);
	}
}

@-ms-keyframes cssload-dot-rotate-4 {
	0% {
		-ms-transform: rotate(705deg);
	}
	100% {
		-ms-transform: rotate(1080deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-4 {
	0% {
		-webkit-transform: rotate(705deg);
	}
	100% {
		-webkit-transform: rotate(1080deg);
	}
}

@-moz-keyframes cssload-dot-rotate-4 {
	0% {
		-moz-transform: rotate(705deg);
	}
	100% {
		-moz-transform: rotate(1080deg);
	}
}
/**/

/* navigation */
#parallax-head{
    background-image: url(../image/main-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
/*preventing the modal to move the navigation*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1040;
}
/* navbar class in bootsrap remove padding-top and bottom to remove extra space 
    deviding the nav and banner */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    width: 100%;;
}
/* end */
.nv-hid{
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    transition: 0.5s ease-out;
    padding: 22px 30px;
    padding-top: 73px;
}
.nv-hid a:hover{
    color: #05723c;
    text-shadow: none;
}
.nv-hid a:focus{
    color: #05723c;
    text-shadow: none;
}
.filler{
   visibility: hidden;
}
.navbar-brand{
    font-size: 1.1em;
    font-weight: 500;
    font-family: var(--Poppins);
    color: whitesmoke;
    position: relative;
    transition: 0.2s;
    padding-left: 1rem;
}
.navbar-nav{
    position: relative;
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
}
.li-nav-btn{
    list-style-type: none;
}
.nav-btn{
    background-color: #05723c;
    border: 2px solid #05723c;
    color: #fff;
    border-radius: 50px;
    padding: 14px 14px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.1125rem;
    transition: 0.3s;
    margin-right: 5vmin;
    font-weight: 600;
    text-decoration: none;
}
.nav-item{
    position: relative;
}
.nav-link{
    position: relative;
    margin: 0 15px;
    font-family: var(--Poppins);
    font-size: 1.02em;
    font-weight: 500;
    text-transform: uppercase;
    color: whitesmoke;
    text-shadow: -3px 2px 10px #363636;
    text-decoration: none;
    transition: all 0.3s;
}
.nav-logo-img{
    width: 7rem;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.test{
    background: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 14%);
    padding: 18px 30px;
}
.test .navbar-brand{
    color: #222;
    transition: 0.2s;
    padding-left: 1rem;
}
.test .nav-link{
    color: #222 !important;
    text-shadow: none;
}
.nav-btn:hover, .nav-btn:focus{
    background: #054b28; 
    color: whitesmoke !important;
}
.test i{
    color: #222 !important;
}
.test .nav-link:hover{
    color: rgb(131, 131, 131) !important;
}
.req-inv{
    display: none;
}

.nav-item a.active{
    color: #05723c !important;
    font-weight: 600;
    text-shadow: none;
}
/*end of navigation*/

/* header content */
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(7, 161, 167, 0.1);
    z-index: 1;
}
.header-text-container{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}
.header-text-contain{
    padding-bottom: 4vmin;
    z-index: 50;
}
.header-text-h1{
    font-size: 4.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1;
    font-family: var(--Montserrat);
    color: whitesmoke;
    transition: 0.4s ease-in-out;
    text-shadow: -3px 2px 10px #363636;
}
.header-text-p{
    font-family: var(--Montserrat);
    font-size: 17x;
    line-height: 1.5;
    color: whitesmoke;
    padding: 15px 1px;
    transition: 0.4s ease-in-out;
}

.li-nav-btn-btn{
    list-style-type: none;
    display: inline-flex;
}
.fb-link{
    position: absolute;
    bottom: 17px;
    left: 22px;
    display: flex;
    z-index: 50;
}
.fb-link .fb{
    font-size: 1.9em;
    color: whitesmoke;
    text-shadow: -1px 3px 5px #3a3a3a;
    padding: 1px 4px;
}
.fb-png{
    width: 2rem;
    transition: 0.3s;
}
.fb-png:hover{
    transform: scale(1.4) rotate(10deg);
}
/* end header content */

/* main content */
.main{
    background: #f7f8f9;
}
.main-row{
    padding: 3rem 0rem;
}   
.main-content{
    font-family: var(--Montserrat);
}
.main-content-h1{
    padding-bottom: 25px;
    font-family: var(--Lato);
}
.main-content-title-section{
    color: #43943e;
    font-size: 1.5rem;
    font-family: var(--Lato);
}
.main-content p{
    font-size: 15px;
    font-size: 14px;
    color: #383838;
    line-height: 1.8;
    text-align: justify;
}
.main-content-p{/* div */
    background: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
}
.contact-form{
    padding: 3rem 1.5rem;
    box-sizing: border-box;
    position: sticky;
    top: 5rem;
}
.form-title-contact{
    font-family: var(--Lato);
    text-align: center;
    color: #05723c;
}
.form-check-label{
    font-family: var(--Montserrat);
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: justify;
}
.form-btn-main{
    background: #05723c;
    border: none;
}
.form-btn-main:hover,.form-btn-main:focus{
    background: #07532d;
    outline: none !important;
    box-shadow: none !important;
}
/* end main */

/* about us page */
.about-us{
    padding-top: 8rem;
}
.about-head-text{
    text-align: center;
}
.about-head-text h1{
    font-family: var(--Lato);
}
.about-head-text p{
    font-family: var(--Montserrat);
    color: #5c5c5ceb;
    font-size: 0.85rem;
    line-height: 2;
    padding-top: 20px;
}
.map-row{
    padding-top: 2rem;
    height: 382px;
}
.about-content{
    padding: 2rem;
}
.about-relative{
    position: relative;
}
.store-img{
    width: 90%;
    border-radius: 0.2em;
}
.about-text-div{
    position: absolute;
    top: 5em;
    left: -12em;
    background-color: white;
    border-radius: 3px;
    padding: 50px 59px 83px 53px;
    box-shadow: 0px 25px 42px rgb(0 0 0 / 20%);
    font-family: var(--Montserrat);
    z-index: 1;
    transition: all 0.4s;
}
.about-text-div h1{
    font-weight: 600;
    padding: 0.4em 0;
    font-size: 1.8em;
    font-family: 'Montserrat';
    transition: all 0.4s;
}
.about-text-div p, .about-text-div li{
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.4s;
}
/*end of abou-us*/

/* remaining css */

/* our tenant */
.tenants{
    padding: 5rem 0rem;
    /* background: #f7f8f9; */
    background: url("../image/tents.jpg") no-repeat;
    background-size: cover;
    position: relative;
}
.tenants-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;

}
.tenants-title-h1{
    text-align: center;
    font-family: var(--Lato);
    color: #f5f5f5;
    opacity: 0.99999;
    padding-top: 2rem;
}
.tenants-title-h1 p{
    font-family: var(--Montserrat);
    font-size: 0.85rem;
}
.tenants-current h2{
    font-family: var(--Lato);
    font-weight: 400;
    color: #f5f5f5;
    opacity: 0.99999;
}
.ct-div{
    background: #fff;
    box-shadow: 0 0 17px 4px rgb(0 0 0 / 20%);
    border-radius: 8px;
    overflow: hidden;
    margin: 2rem 0rem;
    box-sizing: border-box;
    position: relative;
}
.ct-content{
    padding: 2rem;
}
.miniso-h3{
    color: #bf2c4e;
    font-family: var(--Poppins);
    font-weight: 700;
    font-size: 2.1rem;
}
.ct-content p{
    font-family: var(--Lato);
    opacity: 0.7;

}
.ct-socials{
    padding-bottom: 2rem;
}
.ct-socials h4{
    font-size: 1.5rem;
    opacity: 0.9;
    font-family: var(--Poppins);
    padding-top: 20px;
}
.social-icons-tenant{
    width: 1.7rem;
    margin: 4px 1px;
    transition: 0.3s ease;
}
.social-icons-tenant:hover{
    transform: translateY(-5px) scale(1.4);
}
.ct-web-p{
    font-size: 13px;
    position: absolute;
    bottom: 1px;
}
.ct-web-p a{
    font-style: italic;
}
.ct-img-miniso{
    background: url("../image/minso-building.png") no-repeat;
    background-size: cover;
    height: inherit;
    background-position-y: center;
}
.ct-img-a-mrt{
    background: url("../image/a-mart.jpg") no-repeat;
    background-size: cover;
    height: inherit;
    background-position-y: center;
}
.a-mart-h3{
    color: #24821d;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 2rem;
}

/* space for rent */
.space-rent{
    background: #f7f8f9;
    padding-bottom: 5rem;
}
.space-rent-title{
    padding-top: 5rem;
    text-align: center;
}
.space-rent-title h1, .space-rent-text h3, .card-header-t h4{
    font-family: var(--Lato);
}
.space-rent-text p{
    font-family: var(--Montserrat);
    font-size: 0.92rem;
    opacity: 0.9;
}
.space-rent-text{
    padding-top: 1.8em;
}
.card-header-t{
    padding-top: 1rem;
}


/* gallery section */
.gallery{
    padding-top: 2rem;
}
.gallery-title h1{
    margin: 0;
    font-family: var(--Lato);
    margin-top: 4rem;
    text-align: center;
}
.gallery-title p{
    font-family: 'Montserrat';
    font-size: 0.85rem;
    color: #5c5c5ceb;
    text-align: center;
}
.gallery .gallery-item {
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    overflow: hidden;
}
  
.gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
}
  
.gallery .gallery-item:hover img {
    transform: scale(1.1);
}

footer{
    background-color: #e1e1e1;
    font-family: 'Montserrat';
    padding-bottom: 0;
}
.footer-terms-body h3, .faq-title, .q-link-title{
    font-size: 1.5rem;
    padding-bottom: 1.3rem;
}
.footer-terms-body p{
    font-size: 0.85rem;
    color: #424242e6;
    line-height: 1.6rem;
    text-align: justify;
}
.footer-btm-p{
    background: #323232;
    margin: 0;
    color: #c1c1c1;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.footer-btm-p .f-fb-link i{
    color: whitesmoke;
}
.footer-col-pad{
    padding: 3rem;
}
.accordion-button, .accordion-button:not(.collapsed){
    background: #e1e1e1;
    font-size: 0.9rem;
    padding-left: 0.5rem;
    color: #000;
}
.accordion-button::after{
    background-size: 1rem;
}
.accordion-body{
    background: #e1e1e1;
    font-size: 0.8rem;
}
.socials{
    padding-top: 15px;
}
.social-icons-footer{
    width: 30px;
    margin: 2px;
    transition: 0.2s;
}
.social-icons-footer:hover{
    transform: scale(1.5) rotate(10deg);
}

.f-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.f-links ul li{
    line-height: 38px;
    margin: 0;
}
.f-f-link{
    text-decoration: none;
    color: #242424;
    transition: 0.2s ease-in;
    font-size: 0.9rem;
}
.f-f-link:hover{
    text-decoration: underline;
    color: unset;
}
.accordion-item{
    border: none;
}
/**rfq modal */
/* prevent modal to remove the scrollbar */

.modal-open .navbar {
    padding-right: 17px;
}

/* end */
.rqf-con-label{
    font-size: 12px;
    padding-left: 15px;
    font-family: var(--Montserrat);
    color: #363636;
}
.rqf-form-div{
    padding: 7rem 7rem 10rem 7rem;
    box-sizing: border-box;
}
.inpt-box{
    margin-bottom: 2rem;
}
.rqf-title-page{
    margin: 2rem auto;
    font-family: var(--Montserrat);
}
.rqf-div-btn{
    text-align: center;
    padding-top: 2rem;
}
.rqf-btn{
    padding: 0.5rem 5rem;
    margin-bottom: 2rem;
}
/**/

/* response page ty/error*/
.response-div{
    height: 100vmin;
    font-family: var(--Montserrat);
    margin-top: 20vmin;
}
.response-title{
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
}
.response-sub-title{
    font-size: 15px;
    letter-spacing: 1.5px;

}
/* modal */
.modal-next-btn-div{
    text-align: right;
}
.modal-next-btn{
    padding: 4px 50px;
    background: #05723c;
    color: #f5f5f5;
    border: none;
}
.modal-header{
    border-bottom: none;
    padding-bottom: 5px;
}
.form-title-inquiry{
    color: #05723c;
    font-family: var(--Lato);
    text-align: center;
    font-weight: 400;
}
.modal-body{
    padding-top: 0;
}
/* modal rfq */
.form-title-rfq{
    font-family: 'Lato';
    font-weight: 500;
    color: #05723c;
}
.form-rfq-btn{
    background: #05723c;
    border: none;
    padding: 0.5rem 6rem;
}
.form-rfq-btn:hover, .form-rfq-btn:focus {
    background: #06552d;
}
/* modal  */
.fr-head{
    display: block;
    position: relative;
}
.fr-head button{
    position: absolute;
    right: 2rem;
    top: 2rem;
    padding: 0.3rem !important;
    height: 0.3rem;
    width: 0.3rem;
}
.fr-head h5{
    text-align: center;
    font-family: var(--Lato);
    font-size: 2rem;
    font-weight: 400;
}
.modal-body-btn{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}
.modal-body-btn button:first-child{
    margin-bottom: 0.5rem;
}
.btn-close-modal{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-close-modal:hover, .btn-close-modal:focus{
    background-color: #e6e6e6;
    border-color: #ccc;
    color: #333;
    box-shadow: none !important;
}
.show-per-card-btn{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 0.45rem 1.5rem;
    font-size: 1.08rem;
    opacity: 0.9;
}
.show-per-card-btn:hover, .show-per-card-btn:focus, .show-per-card-btn:active{
    outline: none !important;
    box-shadow: none !important;
    background-color: #e6e6e6;
    border-color: #ccc;
    color: #333;
}
.btn-success:hover, .btn-success:focus{
    outline: none !important;
    box-shadow: none !important;
}
.fr-modal-body{
    font-family: var(--Montserrat);
}
.fr-modal-body h3{
    padding-top: 1rem;
}
.fr-modal-body p{
    font-size: 0.85rem;
    opacity: 0.9;
}
.fr-cards{
    transition: 0.3s;
}
.fr-cards:hover{
    box-shadow: 1px 5px 11px 3px rgb(0 0 0 / 25%);
}

.fr-per-card{
    display: none;
}
.fr-btn-div{
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}
/* modal x close btn */  /* form control textbox */
.btn-close:focus, .form-control:focus, .accordion-button:focus, .form-check-input:focus{
    outline: none !important;
    box-shadow: none !important;
}


@media only screen and (max-width: 1473px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.4rem;
        padding-left: 0.4rem;
    }
    .nav-link {
        margin: 0 10px;
        font-size: 0.8em;
    }
    .navbar-brand {
        font-size: 0.9rem;
    }

}
@media only screen and (max-width: 1399px){
    .contact-form{
        padding-right: 0;
        padding-left: 1rem;
    }
}
@media only screen and (max-width: 1256px){
    .nv-hid{
        background: #fff;
        box-shadow: 0 0 60px 0 rgb(0 0 0 / 14%);
        padding: 14px 30px;
    }
    .navbar-brand {
        font-size: 0.9em;
        color: #222;
    }
    .nav-link {
        margin: 0 10px;
        font-size: 0.8em;
        color: #222;
        text-shadow: none;
    }
    .nav-btn {
        padding: 11px 9px;
        font-size: 8px;
        background: #05723c;
        margin-right: 0;
    }
    .header-text-h1 {
        font-size: 2.8rem;
    }
    .header-text-p{
        font-size: 0.8rem;
    }
    .header-btn{
        font-size: 0.6rem;
        padding: 15px 20px !important;
    }
    
    /* .about-card{
        margin: 1px 9px;
        padding: 9px;
    }
    .about-card-p{
        letter-spacing: 0;
        padding: 0.6rem;
        font-size: 0.9rem;
    } */
    .miniso-p{
        font-size: 13px;
    }
    .footer-col-pad{
        padding: 2rem;
    }
    .footer-terms-body p{
        font-size: 0.75rem;
        line-height: 1.5rem;
    }
    .accordion-button, .accordion-button:not(.collapsed){
        font-size: 0.8rem;
    }
    .accordion-body{
        font-size: 0.72rem;
    }
    .f-f-link{
        font-size: 0.8rem;
    }
    .min-header{
        background-position-y: -2rem;
    }
}

@media only screen and (max-width: 1200px){
    .about-text-div{
        top: 3em;
        padding: 33px 43px 38px 49px;
    }
    .about-text-div h1{
        font-size: 1.5rem;
    }
    .about-text-div p, .about-text-div li{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 1030px){
    .navbar-brand{
        display: none;
    }
}

@media only screen and (max-width: 991px){
    .navbar-brand{
        display: none;
    }
    .li-nav-btn{
        display: none;
    }
    .req-inv{
        display: block;
    }
    .header-text-h1 {
        font-size: 2.5rem;
    }
    .header-text-p{
        font-size: 0.7rem;
    }
    .form-div{
        margin: 1rem 7rem;
    }
    .contain-main{
        padding-bottom: 4rem;
    }
    /* .about-card-p{
        font-size: 0.8rem;
    } */
    .min-header{
        background-position-y: 0;
    }
    .miniso-p{
        padding: 7rem 3rem 2rem 3rem;
        text-align: justify;
    }
    .sr-content{
        font-size: 0.8rem;
        color: #706f6f;
    }
    .card-title{
        font-size: 20px;
    }
    .card-text{
        font-size: 11px;
    }
    .rqf-form-div{
        margin: 0;
    }
    .rqf-div-btn{
        padding-top: 0;
    }
    .about-content {
        padding: 1rem;
    }
    .about-text-div{
        top: 2em;
        left: -6em;
        padding: 16px 25px 21px 30px;
    }
    .about-head-text h1{ 
        font-size: 2rem;
    }
    .store-img{
        width: 100%;
    }
    .navbar-nav{
        align-items: flex-start;
        margin-top: 30px;
    }
    .nav-link{
        font-weight: 400;
        font-size: 0.9em;
        padding: 15px 0 10px 0;
    }
    .test .nav-link:hover{
        color: #1E8109 !important;
    }
}
@media only screen and (max-width: 767px){
    .about-content {
        padding: 0;
    }
    .about-text-div {
        position: initial;
        width: initial;
        height: initial;
    }
    .about-text-div{
        box-shadow: none;
    }
    .form-div {
        margin: 1rem 4rem;
    }
    .main-content-p {
        margin-bottom: 0;
    }
    .ct-img-a-mrt, .ct-img-miniso{
        height: 25rem;
    }
}
@media only screen and (max-width: 600px){
    .remove-break{
        content: ' ';
    }
    .remove-break::after{
        content: ' ';
    }
    .header-text-h1 {
        font-size: 2rem;
        margin: 0;
    }
    .header-text-p{
        font-size: 0.7rem;
        margin: 1rem;
    }
    .contain-main {
        padding: 1rem 1.3rem 4rem 1.3rem;
        text-align: justify;
    }
    .form-div {
        margin: 1rem 2rem;
    }
    .main-content {
        padding-top: 0em;
    }
    /* .about-title{
        padding-top: 5rem;
    } */
    #cards-div::-webkit-scrollbar{
        width: 3px;
        background-color: #F5F5F5;
    }
    .our-tenant {
        padding: 0.5rem;
        padding-top: 5rem;
        padding-bottom: 6rem;
    }
    .min-dp {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 144px;
    }
    .min-dp img {
        height: 7rem;
    }
    .miniso-p {
        padding: 9rem 1.2rem 2rem 1.2rem;
    }
    .min-name {
        bottom: -7.7rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 83px;
        font-size: 27px;
    }
    .amart-name{
        bottom: -8rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 156px;
    }
    .nav-logo-img{
        width: 6rem;
    }
    .fb-link .fb{
        padding: 1px;
    }
    .fb-png{
        width: 1.7rem;
    }
    .main-content h1 {
        font-size: 34px;
        text-align: center;
        font-weight: 600;
        padding-top: 15px;
    }
    .about-head-text h1{
        font-size: 32px;
        font-weight: 600;
    }
    .about-head-text p{
        font-size: 0.8rem;
    }
    .space-rent-title{
        margin-top: 1rem;
    }
    .gallery-title h3{
        margin-top: 3rem;
    }
    /* .carousel-control-prev, .carousel-control-next{
        display: none;
    } */
}









































/* footer */
footer{
    background-color: #e1e1e1;
    font-family: 'Montserrat';
    padding-bottom: 0;
}
.footer-terms-body h3, .faq-title, .q-link-title{
    font-size: 1.5rem;
    padding-bottom: 1.3rem;
}
.footer-terms-body p{
    font-size: 0.85rem;
    color: #424242e6;
    line-height: 1.6rem;
    text-align: justify;
}
.footer-btm-p{
    background: #323232;
    margin: 0;
    color: #c1c1c1;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.footer-btm-p .f-fb-link i{
    color: whitesmoke;
}
.footer-col-pad{
    padding: 3rem;
}
.accordion-button, .accordion-button:not(.collapsed){
    background: #e1e1e1;
    font-size: 0.9rem;
    padding-left: 0.5rem;
    color: #000;
}
.accordion-button::after{
    background-size: 1rem;
}
.accordion-body{
    background: #e1e1e1;
    font-size: 0.8rem;
}
.socials{
    padding-top: 15px;
}
.social-icons-footer{
    width: 30px;
    margin: 2px;
    transition: 0.2s;
}
.social-icons-footer:hover{
    transform: scale(1.5) rotate(10deg);
}

.f-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.f-links ul li{
    line-height: 38px;
    margin: 0;
}
.f-f-link{
    text-decoration: none;
    color: #242424;
    transition: 0.2s ease-in;
    font-size: 0.9rem;
}
.f-f-link:hover{
    text-decoration: underline;
    color: unset;
}
.accordion-item{
    border: none;
}

/* end footer */